USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[Borrowing]    Script Date: 27/01/2026 10:02:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowing](
	[borrow_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[staff_id] [int] NULL,
	[borrow_date] [date] NOT NULL,
	[due_date] [date] NOT NULL,
	[return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Borrowing] ON 

INSERT [dbo].[Borrowing] ([borrow_id], [user_id], [staff_id], [borrow_date], [due_date], [return_date]) VALUES (13, 1, 1, CAST(N'2026-11-27' AS Date), CAST(N'2026-11-30' AS Date), CAST(N'2026-11-30' AS Date))
INSERT [dbo].[Borrowing] ([borrow_id], [user_id], [staff_id], [borrow_date], [due_date], [return_date]) VALUES (14, 2, 1, CAST(N'2025-11-28' AS Date), CAST(N'2025-12-02' AS Date), CAST(N'2025-12-01' AS Date))
INSERT [dbo].[Borrowing] ([borrow_id], [user_id], [staff_id], [borrow_date], [due_date], [return_date]) VALUES (15, 3, 1, CAST(N'2025-03-01' AS Date), CAST(N'2025-03-01' AS Date), CAST(N'2025-03-01' AS Date))
SET IDENTITY_INSERT [dbo].[Borrowing] OFF
GO
ALTER TABLE [dbo].[Borrowing]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Borrowing]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
